@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Space+Mono:700|Work+Sans:400,600');

// Text
$title-font-family: 'Space Mono', monospace;
$title-font-weight: 700;
$title-font-size: 50px;

$base-font-family: "Work Sans", sans-serif;
$big-font-size:   	32px;
$med-font-size:		26px;
$small-font-size:  	18px;

$base-font-weight: 	400;
$base-line-height: 	1.5;

// Colors
$title-color: #acd7e0;
$text-color:  #e1e5ee;

$background-color: 	#003c6b;
$background-image: url('../assets/blue-back_1920.jpg');

$link-color-n: 	#aeedf9;
$link-color-v: darken($link-color-n, 5%);

$top-border: 		darken($text-color, 20%);

// Spacing
$spacing-unit:     30px;


// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "minima/base",
        "minima/layout",		
        "minima/syntax-highlighting"
;